<div class="bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/categories']" [routerLinkActive]="['active']"
        routerLinkActive="active">Categories <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" disabled href="#">Locations</a>
    </li>
  </ul>
</div>